/*global var*/

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,body {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

:root {
  --color-grey: #999999;
  --color-darkblue: #5e69ac;
  --color-darkerblue: #454d82;
}

ul, nav {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* homepage */

header {
  background: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  z-index: 10;
}

.logo {
  width: 75px;
  margin: 20px;
}

.logo > img {
  width: 100%;
  height: 100%;
  margin: auto;
}

@media (min-width: 51em) {
.nav-big {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto 3em auto auto;
}
.burger {
  display: none;
  }  
}

.nav-area {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  display: none;
 }

a:hover {
  color: black;
  transition: color 0.5s;
}

.nav-link {
    font-size: 15px;
    letter-spacing: 0.08em;
    color: var(--color-grey);
    font-weight: bold;
}

.banner-area {
    position: relative;
    text-align: center;
    color: #f38f09;
    height: 950px;
}

.banner-area .img-area {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/back.png);
    background-size: 100% 100%;
    background-position: center center;
}

.banner-text {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
    margin-top: 70px;
}

.banner-text > img {
    margin-bottom: 20px;
    max-width: 90vw;
}

.banner-subtext {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 5px 0 90px 0;
}

.banner-subtext > h3 {
    font-family: 'Poppins';
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.2;
  font-size: 20px;
  color: var(--color-grey);
    
}

.banner-btn {
  background: -webkit-linear-gradient(left, #5e69ac, #6fb2e2);
  color: white;
  padding: 3px 150px;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
}

.banner-btn > a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family: 'Poppins';
}

/* service-area */

.service-area {
  background-color: var(--color-white);
}

.service-header {
  margin: 2vh;
  width: 100%;
  text-align: center;
}

.service-header > h1 {
 font-size: 35px;
 font-family: 'Poppins';
}

.cards-container {
  max-width: 1400px;
  min-width: 800px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 24%;
  text-align: justify;
    align-items: center;
  margin-bottom: 3%; 
  cursor: pointer;
    border: none;
}


.card > h1 {
  text-align: center;
  font-size: 1.5em;
  margin: 22px;
  line-height: 1.5;
  font-family: 'Poppins';
}

.card > p {
  margin: 22px;
  margin-bottom: 35px;
}

.card-img {
  display: flex;
  justify-content: center;
}

.in-img {
    margin-top: 20px;
    max-width: 300px;
}

.btn-daftar {
  background: -webkit-linear-gradient(left, #5e69ac, #6fb2e2);
  color: white;
  padding: 4px 20px;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
}

.btn-daftar:hover {
    border: 4px solid #ffbc40;
    transition: border 0.15s;
}

.btn-daftar > a {
    text-decoration: none;
    color: white;
    font-size: 1em;
}
/* contact-area */

.contact-area {
  margin-top: 45px;
  background: var(--color-darkerblue);
  color: white;
  display: flex; 
  flex-direction: row;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  min-height: 10px;
}

.footer > h1 {
  font-size: 35px;
  text-indent: 25px;
  margin-top: 10px;
}

.footer > p {
  font-size: 12px;
  text-indent: 26px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.footer-nav > ul {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto 15px auto auto;
}

.footer-link {
  color: white;
}

/* media-queries */

@media (max-width: 50em) {
    
    header {
        height: 35px;
        width: 100vw;
        align-items: center;
        text-align: center;
        background: var(--color-darkblue);
    }
    
    .line{
        width: 20px;
        height: 3px;
        background: white;
        margin: 2px;
        border-radius: 20px;
    }
    
    .burger {
        position: absolute;
        right: 5%;
        top: 50%;
        cursor: pointer;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    
    .nav-area {
        margin-top: -40px;
        position: fixed;
        width: 100vw;
        height: 106vh;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        place-items: center;
        background: var(--color-darkblue);
        padding: 25vh 0px 25vh 0px;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: clip-path 0.7s ease-out;
    }
    
    .nav-link {
        color: white;
    }
    
    .nav-area.open {
        clip-path: circle(3000px at 90% -15%);
        -webkit-clip-path: circle(3000px at 90% -15%);
    }
    
    .nav-big {
        display: none;
    }
    
    .logo {
        display: none;
    }
   
    .banner-area {
        height: 100vh;
        min-height: 420px;
    }
    
    .banner-area .img-area{
        height: 99vh;
        min-height: 420px;
        background-image: url(img/back2.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .banner-text {
        margin: 0;
        width: 95vw;
        font-size: 1em;
    }
    
    .banner-text > img {
        max-width: 85vw;
    }
    
    .banner-subtext {
        margin: 0;
        width: 90vw;
        
        margin-top: 1em;
    }
    
    .banner-subtext > h3 {
        font-size: 0.9em;
    }
    
    .banner-btn {
        max-width: 150px;
        width: 100%;
        margin-top: 2em;
        padding: 5px 0px;
        font-size: 0.9em;
    }
    
    .cards-container {
        max-width: 350px;
        min-width: 100px;
    }
    .card {
        width: 100%;
    }
    
    .card > h1 {
        text-align: center;
        font-size: 1.3em;
        margin: 22px;
        line-height: 1;
    }

    .card > p {
        margin: 22px;
        margin-bottom: 35px;
    }
    
    .card:nth-child(4) {
        margin-bottom: 50px;
    }
    .contact-area {
        display: none;
    }
}


